<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Ion-password-toggle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input 
    type="password" 
    label="Password" 
    placeholder="Enter your password">
    <ion-input-password-toggle slot="end"></ion-input-password-toggle>
  </ion-input>
</ion-content>
