<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>ion-card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.istockphoto.com/id/153029084/es/foto/dientes-el-tratamiento-de-c%C3%A1ncer.jpg?s=612x612&w=0&k=20&c=9vN00o9Sr7PcdR0cQKzSR_UbWPP902iKO0reGfnRa8A=" />
    <ion-card-header>
      <ion-card-title>Título de la tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      A continuación se incluye una breve descripción textual del contenido de la tarjeta. Nada más y nada menos.
    </ion-card-content>
  </ion-card>

  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="tertiary">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="medium">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title>Título de la Tarjeta</ion-card-title>
      <ion-card-subtitle>Subtítulo de la Tarjeta</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>Contenido de la Tarjeta</ion-card-content>
  </ion-card>
  
</ion-content>
