<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>ion-breadcrumbs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-breadcrumbs>
    <ion-breadcrumb href="#home">Home</ion-breadcrumb>
    <ion-breadcrumb href="./alert">Alerta</ion-breadcrumb>
    <ion-breadcrumb href="./button">Buttons</ion-breadcrumb>
    <ion-breadcrumb href="./ion-accordion">ion-accordion</ion-breadcrumb>
  </ion-breadcrumbs>
</ion-content>
